.travellers {
  display: block;
  float: right;
  height: 7vh;
  width: 16%;
  margin-left: 0vw;
}

.text {
   margin-left: 40vw;
 }

 .sidecards {
   float: right;
 }

.mycards {
  float: left;
}

 .campaigns {
   width: 50vw;
 }
